@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Valorant";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/VALORANT-Regular.woff2) format("woff2");
  }
}

.open div:nth-child(1) {
  transform: rotate(-45deg);
}
.open div:nth-child(2) {
  transform: scale(0);
}
.open div:nth-child(3) {
  transform: rotate(45deg);
}

b:hover .cz-percent {
  display: inline;
}

b .cz-percent {
  display: hidden;
}
